@{
                @model List<tb_login>;
                ViewData["Title"] = "Produto";

                Layout = "_Layout_dashboard"; }
<hr />
<h4 class="font-weight-bold">Lista de Clientes</h4>
<hr />
    <div>

        @if (Model.Count > 0)
        {
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Código</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Ativo</th>
            <th>Editar</th>
            <th>Nova Senha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td></td>
    <td>@item.CodigoLogin</td>
    <td>@item.Nome</td>
    <td>@item.Email</td>
    <td>@item.Telefone</td>
    <td>@item.CPF_CNPJ</td>
    <td>@item.Ativo</td>
    <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/usuario/EditarSemSenhaCliente?CodigoLogin=@item.CodigoLogin&Nome=@item.Nome&Email=@item.Email&Telefone=@item.Telefone&CPF_CNPJ=@item.CPF_CNPJ&Senha=@item.Senha&Tipo=@item.Tipo&Ativo=@item.Ativo'"><i class="fa fa-edit"></i></button></td>
    <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/usuario/EditarSenhaCliente?CodigoLogin=@item.CodigoLogin'"><i class="fa fa-key"></i></button></td>
    <td></td>
    <td></td>
</tr>                }
    </tbody>
</table> }
            else
            {
<div class="alert alert-primary" role="alert">
    Sem Registros!
</div>}

    </div>




