
@{
    @model ProdutoView;
}

<div class="row">
    <div>
        <div>@Model.tb_produto.Nome</div>


        <h4>Fotos</h4>
        <div class="row">
            @foreach (var foto in Model.produtofotoModel)
            {
                @if (foto.Caminho != "")
                {
                    <div><img src="@foto.Descricao" style="width:200px;height:200px;" /></div>
                }

            }
        </div>

        <h4>Cores</h4>
        <hr />

        <div class="row">
            @foreach (var Cores in Model.produtocorModel)
            {
                <div>@Cores.Descricao</div>
            }
        </div>
        <hr />
        <h4>Tamanhos</h4>
        <hr />

        <div class="row">
            @foreach (var Tamanho in Model.produtotamanhoModel)
            {
                <div>@Tamanho.Descricao</div>
            }
        </div>
        <hr />
        <h4>Genero</h4>
        <hr />
        <div class="row">
            @foreach (var Genero in Model.produtogeneroModel)
            {
                <div>@Genero.Descricao</div>
            }
        </div>
        <hr />
    </div>
</div>
<button class="btn-success"></button>


