@{ Layout = "_Layout_dashboard"; }

<h3>Painel de Controle ECCE</h3>
<br />
<hr />
<br />
<h5>Vendas da Última Semana</h5>
<hr />
<div class="row text-center align-items-center">
    <div class="text-center col text-white bg-primary">
        <p></p>
        <p style="font-size:50px;">@ViewData["VDVendas"]</p>
        <p>Quantidade</p>
        <p></p>
    </div>
    <div class="col-md-1"></div>
    <div class="text-center col text-white bg-info">
        <p></p>
        <p style="font-size:50px;">R$ @ViewData["VDValor"]</p>
        <p>Valor</p>
        <p></p>
    </div>
</div>
<br />
<hr />
<br />
<h5>Usuários e Produtos</h5>
<hr />
<div class="row text-center col-md-12">
    <div class="text-center col text-white bg-success">
        <p></p>
        <p style="font-size:50px;">@ViewData["VDProdutos"]</p>
        <p>Produtos em Exposição</p>
        <p></p>
    </div>
    <div class="col-md-1"></div>
    <div class="text-center col text-white bg-dark">
        <p></p>
        <p style="font-size:50px;">@ViewData["VDColaboradores"]</p>
        <p>Colaboradores</p>
        <p></p>
    </div>
    <div class="col-md-1"></div>
    <div class="text-center col text-white bg-dark">
        <p></p>
        <p style="font-size:50px;">R$ @ViewData["VDMaiorVenda"]</p>
        <p>Valor da Maior Venda</p>
        <p></p>
    </div>

</div>
<hr />
<div class="row text-center col-md-12">
    <div class="text-center col text-white bg-success">
        <p></p>
        <p style="font-size:50px;">@ViewData["VDQuantidadeProdutos"]</p>
        <p>Quantidade Total de Produtos em Estoque</p>
        <p></p>
    </div>
    <div class="col-md-1"></div>
    <div class="text-center col text-white bg-danger">
        <p></p>
        <p style="font-size:50px;">@ViewData["VDClientes"]</p>
        <p>Clientes</p>
        <p></p>
    </div>
    <div class="col-md-1"></div>
    <div class="text-center col text-white bg-danger">
        <p></p>
        <p style="font-size:50px;">R$ @ViewData["VDMediaVenda"]</p>
        <p>Media das Vendas</p>
        <p></p>
    </div>
</div>

