@{
    @model FinalizarPedidoVM;
    ViewData["Title"] = "Finalizar";
    var LTEnderecos = (List<SelectListItem>)(ViewData["Enderecos"]);
}

<hr />
<h3 class="font-weight-bold">Escolher endereço de entrega</h3>
<hr />


<form id="formPagamento" asp-action="FinalizarPedido" asp-controller="Home">

    <input type="hidden" asp-for="CEP" />
    <input type="hidden" asp-for="TotalPedido" />


    <div>
        <input type="hidden" id="SessionPG" class="form-control" value="@ViewData["TK"]" />
        <input type="hidden" id="BandeiraSel" class="form-control" />




        <aside class="col-lg-12" style="padding: 0">

            <div class="card mb-8">
                <div class="card-body">
                    <div class="form-group">
                        <label>Calculo de frete</label>
                        <div class="input-group">
                            <select id="txt_servico" type="text" class="form-control">
                                <option value="04510">PAC</option>
                                <option value="04014">SEDEX</option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <select id="txt_cep" class="form-control txt" asp-items="LTEnderecos"></select>
                        </div>
                        <br>
                        <p>Valor do frete:  R$ <span id="RespFrete"></span></p>

                    </div>
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->
            <hr />
            <h3 class="font-weight-bold">Resumo do pedido</h3>
            <hr />
            <div class="card mb-5">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Produtos: R$</dt>
                        <dd id="ValorTotalProduto" class="text-right"></dd>
                    </dl>
                    <br><br>
                    <dl class="dlist-align">
                        <dt>Frete: R$</dt>
                        <dd id="RespFrete2" class="text-right text-danger"></dd>
                    </dl>
                    <br>
                    <dl class="dlist-align">
                        <dt>Total: R$</dt>
                        <dd id="ValorFinal" class="text-right text-dark b"><strong></strong></dd>
                    </dl>

                </div> <!-- card-body.// -->
            </div> <!-- card.// -->

        </aside>
    </div>


    <hr />
    <h3 class="font-weight-bold">Escolher forma de pagamento</h3>
    <hr />

    <div>
        <aside class="col-lg-12" style="padding: 0">
            <div class="card mb-8">
                <div class="card-body">
                    <div class="form-group">
                        <label>Selecione a forma de pagamento</label>
                        <div class="input-group">
                            <select id="FormaPagamento" type="text" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="row clsCard">
                        <div class="form-group col-10">
                            <label for="NumeroCartao" class="control-label">Numero do Cartão:</label>
                            <input type="number" id="NumeroCartao" class="form-control" />
                        </div>
                        <div class="form-group col-2 text-left">
                            <div id="dvBCC" style="margin-top:30px;margin-left:-35px;"></div>
                        </div>
                        <div class="form-group col-4">
                            <label for="Validade" class="control-label">Validade</label>
                            <input type="text" id="Validade" class="form-control" />
                            <small>MM/AA</small>
                        </div>
                        <div class="form-group col-4">
                            <label for="CVV" class="control-label">CVV</label>
                            <input type="number" id="CVV" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <div id="dvCardNumberCC"></div>
                            <label for="NomeCartao" class="control-label">Nome Impresso no Cartão:</label>
                            <input type="text" id="NomeCartao" class="form-control" />
                        </div>

                        <div id="dvParcelamento" class="form-group col-md-12" style="display:none;">
                            <div id="dvParceLoading"></div>
                            <label for="Parcelamento" class="control-label">Parcelamento</label>
                            <select id="Parcelamento" class="form-control"></select>
                        </div>

                    </div>


                </div> <!-- card-body.// -->




            </div> <!-- card.// -->
            <br />
            <br />

        </aside>
    </div>

    <button id="btFinalizar" class="btn btn-primary text-right" type="button" href="##" onclick="FinalizarPedido();">Efetuar Pagamento</button>

    <hr />

</form>
@Html.Raw(ViewData["JsBPG"])
<script src="~/js/jsPagSeg.js"></script>
<script src="~/js/jquery.mask.js"></script>
<script>
    $(document).ready(function () {

        PagSeguroDirectPayment.setSessionId($("#SessionPG").val());

        SetsFuncsPagSeguro();

        SetSubmit();

        $("#Validade").mask("99/99");
        $("#CPF").mask("999.999.999-99");


        $("#btn_Calcular").click(function () {
            CalcularFrete();
        });

        $("#txt_servico").change(function () {
            CalcularFrete();
        });

        $("#txt_cep").change(function () {
            CalcularFrete();
        });

        GetCarrinho();

        setTimeout(function () {
            CalcularFrete();
        }, 1000);


    })

    function SetsFuncsPagSeguro() {

        $("#ValorFinal").blur(function () {
            GetMetodosPag($(this).html(), $("#FormaPagamento"), $("#dvFormPagLoading"));
        });


        $("#NumeroCartao").blur(function () {
            if ($(this).val() == "") {
                return;
            }
            GetBandeiraCC($(this).val(), $("#dvBCC"), $("#BandeiraSel"));
            setTimeout(function () {
                GetParcelamento($("#ValorFinal").html(), $("#BandeiraSel").val(), $("#Parcelamento"), $("#dvParceLoading"));
                $("#dvCardNumberCC").html("");
                $("#dvParcelamento").show();                
            }, 1000);

        });

        $("#FormaPagamento").change(function () {
            $("#dvbanco").hide();
            $("#dvParcelamento").hide();

            if ($(this).val() == 3) {
                $("#dvbanco").show();
            }

            /*else if ($(this).val() == 1) {

                $("#dvParcelamento").show();
            }*/


        });

    }


    function CalcularFrete() {
        Calcular($("#txt_cep").val(), $("#txt_servico").val());
    }

    function formata(v) {
        return v.toLocaleString("pt-BR", { minimumFractionDigits: 2 });
    }

    function Calcular(_cep, _servico) {
        $("#RespFrete").html("Aguarde...");
        var _url = '@Url.Action("GetCalculo", "CalculaFrete")';
        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                cep : _cep,
                cdservico : _servico,
            },
            processData: true,
            contentType: true,
            success: function (result) {


                $("#RespFrete").html(result.resposta);
                $("#RespFrete2").html(result.resposta);
                SomaValorFreteProduto();

            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            },
        });

    }
        function GetFoto(_CodigoProduto) {

        var _url = '@Url.Action("GetFoto", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            processData: true,
            contentType: true,
            data: { CodigoProduto: _CodigoProduto },
            success: function (result) {
                if (result.success) {
                    $(".f_" + _CodigoProduto).attr("src", result.caminho);
                }
                else {
                    return "Caminho IMG";
                }

             }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }
        });
    }
    function GetCarrinho() {

        var tb = "";
        var Total = 0;
        var Quantidade = 0;
        $("#idcarrinho").html("");
        var _url = '@Url.Action("GetAll", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            processData: true,
            contentType: true,
            success: function (result) {
                if (result.success) {
                    tb = "<tr>";
                    $.each(result.resp, function (i, item) {
                        var f2 = item.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 });
                        tb += "<td><figure class='media'>";
                        tb += "<div class='img-wrap'><img class='f_" + item.codigoProduto + "' src=''class='img-thumbnail img-sm'></div>";
                        tb += "<figcaption class='media-body'>";
                        tb += "<h6 class='title text-truncate'>" + item.nome + "</h6>";
                        tb += "<dl class='dlist-inline small'><dt>Tamanho: </dt><dd>" + item.tamanho + "</dd></dl>";
                        tb += "</figcaption></figure ></td>";
                        tb += "<td>" + item.quantidade + " </td>";
                        tb += "<td><div class='price-wrap'><var class='price'>R$ " + formata(item.quantidade * item.preco) + "</var>";
                        tb += "<small class='text-muted'> R$ " + f2 + " cada</small></div></td>";
                        tb += "<td class='text-right'><a href='##' class='btn btn-light' onclick='RemoveItem(" + item.id + ");'>Remover</a></td>";
                        tb += "</tr>";
                        Total += item.preco * item.quantidade;
                        Quantidade += item.quantidade;

                        $("#ValorTotalProduto").html(Total.toLocaleString('pt-br', { minimumFractionDigits: 2 }));
                        $("#QuantidadeTotalProduto").html(Quantidade);
                        $("#idcarrinho").html(tb);

                        GetFoto(item.codigoProduto);
                    });



                }
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });

    }


    function SomaValorFreteProduto() {
        var Frete = parseFloat($("#RespFrete").html().replace('.', '').replace(',', '.'));
        var TotalFinal = parseFloat($("#ValorTotalProduto").html().replace('.', '').replace(',', '.'));
        var Total = (Frete + TotalFinal).toLocaleString('pt-br', { minimumFractionDigits: 2 });

        $("#TotalPedido").val(Total);
        $("#CEP").val($("#txt_cep").val());


        $("#ValorFinal").html(Total);
        $("#ValorFinal").blur();
    }

      function RemoveItem(codigo) {
        var _url = '@Url.Action("RemoveItem", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                Id: codigo
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
      }

    function FinalizarPedido() {
        
        $("#btFinalizar").html("Processando Pagamento");
        $("#btFinalizar").prop("disabled", true);

        setTimeout(function () {
            $('#formPagamento').submit();           
        }, 4000);

    }


    function SetSubmit() {
        $('#formPagamento').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.success) {
                        alertSucesso(data.msg);

                        setTimeout(function () {
                            window.location.href = data.redirect;
                        }, 4000);

                    } else {

                        $("#btFinalizar").html("Efetuar Pagamento");
                        $("#btFinalizar").prop("disabled", false);

                        if (data.msg.indexOf("Erro") > -1) {
                            alertErro(data.msg);
                            setTimeout(function () {
                                window.location.href = data.redirect;
                            },10000);
                        }
                        else {
                            alertInformacao(data.msg);
                            setTimeout(function () {
                                window.location.href = data.redirect;
                            },10000);
                        }
                    }
                }
            });

        });
    }

</script>

