
@{
    @model ProdutoView;
}

<h5>@Model.tb_produto.Nome</h5>
<hr />

<link href="~/css/pdp.css" rel="stylesheet">

<div class="row">
    <div class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-detail-top">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="product-slider-single normal-slider">
                                    @foreach (var foto in Model.produtofotoModel)
                                    {
                                        @if (foto.Caminho != "")
                                        {
                                            <img  src="@foto.Descricao" alt="Product Image">
                                        }
                                    }
                                </div>
                                <div class="product-slider-single-nav normal-slider">
                                    @foreach (var foto in Model.produtofotoModel)
                                    {
                                        @if (foto.Caminho != "")
                                        {
                                            <div class="slider-nav-img" id="foto" style="width: 45px"><img src="@foto.Descricao" alt="Product Image"></div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    <div class="title"><h2>@Model.tb_produto.Nome</h2></div>

                                    <div class="price">
                                        <h4 id="txt_preco">@Model.tb_produto.Valor.ToString("C")</h4>

                                    </div>
                                    <div class="p-size">
                                        <h4>Tamanho:</h4>
                                        <select id="txt_tamanho" class="form-control" style="width:70px">
                                            @foreach (var Tamanho in Model.produtotamanhoModel)
                                            {
                                                <option>@Tamanho.Descricao</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="p-size">
                                        <h4>Cor:</h4>
                                        <select id="txt_cor" class="form-control" style="width:130px">
                                            @foreach (var Cor in Model.produtocorModel)
                                            {
                                                <option>@Cor.Descricao</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="p-size">
                                        <h4>Quantidade</h4>
                                        <select id="txt_quantidade" class="form-control" style="width:70px">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                    </div>
                                    <div class="action">
                                        <a class="btn cta" style="margin-right:11px;background:#28a745;color:#fff;font-size:12px;padding: 5px;" href="#" onclick="AddCar();"><i class="fa fa-shopping-cart"></i>Adicionar ao carrinho</a>
                                        <a class="btn cta" style="margin-right:11px;background:#28a745;color:#fff;font-size:12px;padding: 5px;" href="../Carrinho" onclick="AddCar();"><i class="fa fa-shopping-bag"></i>Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#description">Descrição</a>
                        </li>


                    </ul>

                    <div class="tab-content">
                        <div id="description" class="container tab-pane active">
                            <p>
                                @Model.tb_produto.Descricao

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="idcarrinho"></div>

<script src="~/lib/slick/slick.min.js"></script>
<script src="~/js/pdp.js"></script>

<script>

    $(document).ready(function () {
        GetCarrinho();
    });

    function formata(v) {
        return parseFloat(v).toLocaleString("pt-BR", { style: "currency", currency: "BRL"});
    }

    function AddCar() {      

        var _foto = $("#foto").val();
        var _tamanho = $("#txt_tamanho option:selected").val();
        var _cor = $("#txt_cor option:selected").val();
        var _quantidade = $("#txt_quantidade option:selected").val();

        var _url = '@Url.Action("AddCar", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                CodigoProduto: '@Model.tb_produto.CodigoProduto',
                Nome: '@Model.tb_produto.Nome',
                Peso: '@Model.tb_produto.Peso',
                Tamanho: _tamanho,
                Preco: '@Model.tb_produto.Valor',
                Cor: _cor,
                Foto: _foto,
                Quantidade: _quantidade,
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }

    function GetCarrinho() {

        var tb ="";

        $("#idcarrinho").html("");
        var _url = '@Url.Action("GetAll", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            processData: true,
            contentType: true,
            success: function (result) {
                if (result.success) {
                    tb = "<table class='table'>";
                    $.each(result.resp, function (i, item) {
                        tb += "<tr>";
                        tb += "<td>" + item.foto + "</td>";
                        tb += "<td>" + item.nome + "</td>";
                        tb += "<td>" + item.quantidade + "</td>";
                        tb += "<td>" + item.tamanho + "</td>";
                        tb += "<td>" + formata(item.preco) + "</td>";
                        tb += "<td>" + item.cor + "</td>";
                        tb += "<td><a href='##' onclick='RemoveItem(" + item.id + ");'>Remover</a></td>";
                        tb += "</tr>";
                    });
                    tb += "</table>";
                    $("#idcarrinho").html(tb);
                }

             }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }


    function RemoveItem(codigo) {
        var _url = '@Url.Action("RemoveItem", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                Id: codigo
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }

</script>