
@{
    @model ProdutoView;
}

<h5>Carrinho</h5>
<hr />
<div class="row">
    <div>
        <div>Código: @Model.tb_produto.CodigoInterno</div>
        <div>Nome: @Model.tb_produto.Nome</div>
        <div>Descrição: @Model.tb_produto.Descricao</div>
        <div>Preço: @Model.tb_produto.Valor</div>

        <h4>Fotos</h4>
        <div class="row">
            @foreach (var foto in Model.produtofotoModel)
            {
                @if (foto.Caminho != "")
                {
                    <div><img src="@foto.Descricao" style="width:200px;height:200px;" /></div>
                    <br />
                }

            }
        </div>

        <h4>Cores</h4>
        <hr />

        <div class="row">
            @foreach (var Cores in Model.produtocorModel)
            {
                <div class="col-2">
                    <input type="radio">
                    <label>@Cores.Descricao</label>
                </div>
                <div class="col-1"></div>
            }
        </div>
        <hr />
        <h4>Tamanhos</h4>
        <hr />
        <div class="row">
            @foreach (var Tamanho in Model.produtotamanhoModel)
            {
                <div class="col-2">
                    <input type="radio">
                    <label>@Tamanho.Descricao</label>
                </div>
                <div class="col-1"></div>
            }
        </div>
    </div>
</div>
<div><button type="button" class="btn btn-primary" onclick="AddCar(@Model.tb_produto.CodigoProduto,'@Model.tb_produto.Nome');">Adicionar</button></div>

<div class="row" id="idcarrinho"></div>

<script>
    $(document).ready(function () {
        GetCarrinho();
    });


    function AddCar(codigo,descricao) {
        var _url = '@Url.Action("AddCar", "Home")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                key: codigo,
                value: descricao
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }

    function GetCarrinho() {
        var _url = '@Url.Action("GetAll", "Home")';

        $.ajax({
            url: _url,
            type: 'GET',
            processData: true,
            contentType: true,
            success: function (result) {
                $("#idcarrinho").html(result);

             }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }


    function RemoveItem(codigo) {
        var _url = '@Url.Action("RemoveItem", "Home")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                key: codigo
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
    }

</script>